.shadow-justificada {
    box-shadow: 0 0 5px green;
}

.shadow-por-justificar {
    box-shadow: 0 0 5px yellow;
}

.shadow-em-analise {
    box-shadow: 0 0 5px orange;
}

.shadow-injustificada {
    box-shadow: 0 0 5px red;
}

.shadow-aprovadas {
    box-shadow: 0 0 5px green;
}

.shadow-rejeitadas {
    box-shadow: 0 0 5px red;
}

.sidebar-item {
    cursor: pointer;
    transition: background-color 0.5s;
}

.sidebar-item:hover {
    background-color: rgb(182, 182, 182)
}

.sidebar-item:active {
    background-color: rgb(141, 141, 141)
}